<h1 align='center'>Games</h1>
<% if user_signed_in? %>
  <p align='center'>Welcome <%= current_user.name %></p>
  <p align='center'> <%= link_to "Crear Juego", new_game_path %> </p>
<% end %>
<table align='center'>
  <tr>
    <thead>
      <th>Name</th>
      <th>Publisher</th>
      <th>Genre</th>
    </thead>
  </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.publisher %></td>
        <td><%= game.genre %></td>
        <td> <%= link_to "Details", game_path(game) %> </td>
        <% if user_signed_in? %>
        <% if current_user.games.ids.include? game.id %>
        <td> <%= button_to "Remove from favorites", unfavorite_game_path(game.id), method: :delete %> </td>
        <% else %>
        <td> <%= button_to "Add to favorites", favorite_game_path(game.id)%> </td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
</table>
