<%= form_with model: @game do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :publisher %>
      <%= f.text_field :publisher %>
    </div>
    <div>
      <%= f.label :genre %>
      <%= f.text_field :genre %>
    </div>
    <div>
      <%= f.label :year %>
      <%= f.number_field :year %>
    </div>
    <div>
      <%= f.submit %>
    </div>
<% end %>
