<%= form_for @game do |f| %>
    <div>
      <%= f.label :nombre %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :descripcion %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :publisher %>
      <%= f.text_field :publisher %>
    </div>
    <div>
      <%= f.label :genero %>
      <%= f.text_field :genre %>
    </div>
    <div>
      <%= f.label :año %>
      <%= f.number_field :year %>
    </div>
    <div>
      <%= f.submit %>
    </div>
<% end %>