<h1 align='center'><%= @game.name %></h1>

<table align='center'>
  <tr>
    <th>Description</th>
    <td><%= @game.description %></td>
  </tr>
  <tr>
    <th>Publisher</th>
    <td><%= @game.publisher %></td>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= @game.genre %></td>
  </tr>
  <tr>
    <th>Year</th>
    <td><%= @game.year %></td>
  </tr>
  <% if user_signed_in? %>
    <tr>
      <td align='center'><%= link_to "Edit", edit_game_path(@game) %></td>
      <td align='center'><%= link_to "Delete", @game, method: :delete, data: { confirm: "Deseas eliminar este juego?"} %></td>
    </tr>
  <% end %>
</table>
<td>
  <p align='center'> <%= link_to "Back to games", games_path %> </p>
</td>
