<h1 align='center'><%= @game.name %></h1>

<table align='center'>
  <tr>
    <th>Description</th>
    <td><%= @game.description %></td>
  </tr>
  <tr>
    <th>Publisher</th>
    <td><%= @game.publisher %></td>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= @game.genre %></td>
  </tr>
  <tr>
    <th>Year</th>
    <td><%= @game.year %></td>
  </tr>
  
  <% if user_signed_in? %>
    <tr>
      <td align='center'><%= link_to "Edit", edit_game_path(@game) %></td>
      <td align='center'><%= link_to "Delete", @game, method: :delete, data: { confirm: "Deseas eliminar este juego?"} %></td>
    </tr>
  <% end %>
</table>

<h2 align='center'>Reviews</h2>
<p align='center'> <%= link_to "Create review", new_game_review_path(@game) %> </p>
<table align='center'>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Score</th>
      <th>Username</th>
      <th></th>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <td> <%= review.title %> </td>
        <td> <%= review.description %> </td>
        <td> <%= review.score %> </td>
        <td> <%= review.user.name %> </td>
        <% if user_signed_in? and current_user.id == review.user_id %>
          <td align='center'><%= link_to "Delete", game_review_path(@game, review), method: :delete, data: { confirm: "Are you sure?"} %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<td>
  <p align='center'> <%= link_to "Back to games", games_path %> </p>
</td>
