<h1>New Review</h1>

<%= form_with model: @review do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :score %>
      <%= f.text_field :score %>
    </div>
    <div>
        <%= f.hidden_field :game_id, value: @game_id %>
    <div>
      <%= f.submit %>
    </div>
<% end %>
